# Riot Games API
RIOT_API_KEY=your_riot_key_here

# PrimeBot API
PRIME_API_URL=https://primebot.me

# Discord Bot Delivery
DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_GUILD_ID=your_guild_id_here

# Discord Channel IDs
DISCORD_CH_LP=your_lp_channel_id
DISCORD_CH_LEADERBOARD=your_master_leaderboard_id
DISCORD_CH_OVERVIEW=your_team_overview_channel_id
