RIOT_API_KEY=your_riot_key_here
PRIME_API_URL=https://primebot.me

DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_GUILD_ID=your_guild_id_here

# SoloQ Tracking
DISCORD_CH_LP=your_lp_channel_id
DISCORD_CH_POWER_RANKINGS=your_power_rankings_channel_id

# Prime League Tracking
DISCORD_CH_SCHEDULE=your_schedule_channel_id
DISCORD_CH_RESULTS=your_postgame_results_channel_id
